* {
  margin: 0;
  padding: 0;
}

.headz {
    text-align: center;
    font-family: "Sofia";
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #B3CFDD;
}

.profils {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: transparent;
    gap: 17px;
    margin: auto;
    padding: 10px;
}

.profileInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.userIcon {
  width: 100px;
  height: 100px;
}

.userIcon1 {
  width: 25px;
  height: 25px;
}

.userIcon1:hover {
  color: rgb(22, 164, 230);
}

.profile_page_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signupCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 12vh;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
  font-size: 10px;
  padding: 0px 10px;
  font-weight: lighter;
}

#image {
  display: flex;
  width: 35vw;
  justify-content: center;
}

input:focus {
  outline: none;
}

h1 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

.error {
  font-size: 10px;
  color: red;
}

.btns {
    display: flex;
    gap: 3rem;
}

.btnz {
 display: flex;
  width: 15%;
  padding: 15px;
  background-color: rgb(80, 65, 94);
  color: white;
  border: 1px solid rgb(80, 65, 94);
  cursor: pointer;
}

.btnz:hover {
    background-color: aliceblue;
    color: #000;
}

.edith-prof {
    color: black;
}