*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  .cordz {
    background-color: #234;
  }

  header {
    font-family: 'sofia';
  }
  
  .sidebar{
    position: absolute;
    left: -270px;
    width: 250px;
    min-height: 100vh;
    background: #234;
    transition: all .5s ease;
  }

  .sidebar header{
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 100px;
    user-select: none;
    background-color: beige;
  }
  
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    box-sizing: border-box;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    transition: .4s;
    text-align: center;
    font-family: 'sofia';
  }
  
  .sidebar ul li:hover a{
    padding-left: 50px;
  }
  
  .sidebar ul a i{
    margin-right: 24px;
  }

  .sidebar ul input {
    height: 15px;
    width: 15px;
    margin: 0 1rem 0 10px;
    cursor: pointer;
  }

  .sidebar ul li {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    color: #fff;
  }

  #check{
    display: none;
  }
  
  label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 3px;
  }
  
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    padding: 6px 12px;
    transition: all .5s ease;
  }
  
  label #cancel{
    z-index: 111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  
  #check:checked ~ .sidebar{
    left: 0;
  }
  
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~ label #cancel{
    left: 194px;
  }
  
  .homez {
    cursor: pointer;
  }

  .homez:hover {
    background-color: rgb(80, 65, 94);
    transition: 0.92s;
  }

  lable {
    background-color: aqua;
  }

  .cards {
    align-items: center;
    margin-left: 120px;
    margin-top: 80px;
  }
  
  .card{
    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border: 1px solid #eee;
    box-shadow: 0 10px 10px #000;
    width: 300px;
    height: 60vh;
    border-radius: 20px;
    padding : 0px;
    user-select: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: 10px;
    margin-right: 10px; 
  }

  .btn {
    background-color: rgb(73, 73, 75);
    color: #eee;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: 80%;
    cursor: pointer;
  }

  .btn:hover {
    background-color: red;
  }

  h5 {
    color: rgb(73, 73, 75);
    text-align: left;
    font-family: 'sofia';
    font-size: 20px;
  }

  p {
    font-family: 'sofi';
  }

  .img {
    align-items: center;
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-radius: 30px;
    margin-top: 40px;
  }

  .desc {
    font-family: 'sofia';
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(73, 73, 75);
    color: #fff;
    cursor: pointer;
  }

  .desc:hover {
    background-color: gainsboro;
    color: #000;
  }

  .add-btn {
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 90px;
    color: rgb(73, 73, 75);
    background-color: #fff;
    border: none;
  }

  .add-btn:hover {
    background-color: gainsboro;
  }

.fa-solid {
  font-size: 100px;
}

h5 {
  text-align: center;
}